@import "/variables";

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $main-font;
  color: $primary-aqua;
  margin: 0;
  padding: 0;
  background-color: $primary-black;
}

div {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.5rem;
  margin: 0;
}

h2 {
  color: $primary-aqua;
  font-size: 2rem;
}

h3 {
  font-size: 1.7rem;
}

div,
p,
li {
  font-size: 1.4rem;
  line-height: 2rem;
  cursor: default;
}

ul {
  list-style-type: none;
}

input,
label,
li,
button {
  font-family: $accent-font;
}

.statValue {
  color: $gray-lt;
}

.statDanger {
  color: $alert-red;
}
