.header {
  width: 100%;
  min-height: 72px;
  height: 100px;
  top: 0;
  left: 0;
  position: sticky;
  z-index: 999;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $royal-dk;
  border-bottom: 3px solid $fuchsia-dk;
  h1::selection,
  p::selection,
  div::selection,
  li::selection {
    color: $almost-black;
    background-color: $latte;
  }
}

.leftHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.rightHeader {
  display: flex;
  flex-direction: column;
}

.stats {
  display: inline-grid;
  width: 40vw;
  border: 1px solid red;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; // all auto-placed except Status button
  grid-template-rows: 1fr 1fr 1fr;
  place-items: center start;
  grid-auto-flow: column;
  margin-right: 0; // Adjust as needed
}

.gearOff {
  opacity: 0.5;
}

.statusButton {
  grid-column-start: 4;
  grid-row-start: 3;
  border: 2px outset $purple;
  padding: 0.3rem;
}
.statusButton:hover {
  cursor: pointer;
}
.statusButton:active {
  background-color: $fuchsia-dk;
  border: 2px inset $fuchsia-dk;
}

.inventoryButton {
  p:hover {
    cursor: pointer;
  }
  border: 2px outset $purple;
  padding: 0.3rem;
}

.inventoryButton:active, .inventoryPressed {
  border: 2px inset $fuchsia-dk;
  background-color: $fuchsia-dk;
}

.inventoryMenu {
  position: absolute;
  display: flex;
  align-items: space-between;
  width: 25vw;
  padding: 1rem;
  background-color: $royal-dk;
  border-bottom: 1px solid $fuchsia-dk;
}

.inventoryGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1rem;
  grid-auto-flow: column;
  list-style-type: none;

  li {
    display: flex;
    padding: 0.3rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px outset $purple;
    
  }
  
  li:active {
    background-color: $fuchsia-dk;
    border: 1px inset $fuchsia-dk;
  }
  li:hover {
    cursor: pointer;
  }
}

.inventoryActions {
  width: 10vw;
  display: flex;
  flex-direction: column;
  text-align: right;
  align-items: flex-end;
  justify-content: flex-start;

  .inventoryButton {
    font-variant-caps: all-small-caps;
    margin-top: 1rem;
  }
}
