.header {
  width: 100%;
  height: 72px;
  top: 0;
  left: 0;
  position: sticky;
  z-index: 999;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $royal-dk;
  border-bottom: 3px solid $fuchsia-dk;
}

.player {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  > * {
    padding: 0 4px;
  }
}

.rightHeader {
  display: flex;
}

.inventory {
  min-width: 200px;
  display: flex;
  flex-direction: row;
}

.inventory-button {
}

.inventory-display {
  min-width: 300px;
  ul {
    display: flex;
    flex-flow: row;
  }
  li {
    margin: 0 2px;
    padding: 0 2px;
  }
}
