.header {
  width: 100%;
  min-height: 100px;
  top: 0;
  left: 0;
  position: sticky;
  z-index: 999;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $secondary-gray;
  background-image: radial-gradient(at top, $primary-black, $secondary-gray);
  border-bottom: 1px solid $tertiary-teal;
}

.leftHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.rightHeader {
  display: flex;
  flex-direction: column;
}

.stats {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto; // all auto-placed except Status button
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: .5rem;
  grid-column-gap: 2rem;
  place-items: center start;
  grid-auto-flow: column;
  margin-right: 0; // Adjust as needed

  .playerName {
    font-size: 2rem;
    color: $gray-lt;
  }
  .statValue {
    font-family: $accent-font;
  }
}

.gearOff {
  opacity: 0.5;
}

.inventoryButton {
  border: 1px solid $secondary-teal;
  border-radius: .5rem;
  background-color: $secondary-gray;
  p:hover {
    cursor: pointer;
  }
  padding: .8rem;
}


.inventoryButton:active,
.inventoryPressed {
  background-color: $primary-black;
  color: $gray-lt;
  border: 1px inset $secondary-teal;
}

.inventoryMenu {
  position: absolute;
  display: flex;
  align-items: space-between;
  width: 25vw;
  padding: 1rem;
  background-color: $secondary-gray;
  border-bottom: 1px solid $secondary-teal;
}

.inventoryGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1rem;
  grid-auto-flow: column;
  list-style-type: none;

  li {
    display: flex;
    padding: 0.3rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: $primary-aqua;
    border: 1px outset $primary-aqua;
  }

  li:active {
    background-color: $primary-black;
    border: 1px inset $secondary-teal;
  }
  li:hover {
    cursor: pointer;
  }
}

.inventoryActions {
  width: 10vw;
  display: flex;
  flex-direction: column;
  text-align: right;
  align-items: flex-end;
  justify-content: flex-start;

  .inventoryButton {
    font-variant-caps: all-small-caps;
    margin-top: 1rem;
  }
}
