@import "/reset";
@import "/global";
@import "/variables";
@import "/map";


@import "/header";
@import "/abilities";
@import "/roomInfo";
@import "/mode";


.dashboard {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  justify-content: space-between;
}


.middle {
    width: 300px;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    > * {
        padding: 15px
    }
}

.bottom {
    width: 100vw;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    > * {
        padding: 15px
    }
}
