@import "/reset";
@import "/global";
@import "/variables";
@import "/map";

@import "/abilities";
@import "/roomInfo";
@import "/mode";


.dashboard {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  justify-content: space-between;
}

.inventory {
  display: block;
  ul {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
  }
  border: 1px solid $purple;
  padding: 15px;
}

.top {
  width: 100vw;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  > * {
      padding: 15px
  }
}

.middle {
    width: 300px;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    > * {
        padding: 15px
    }
}

.bottom {
    width: 100vw;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    > * {
        padding: 15px
    }
}
