
.dpad {
  border: 1px solid yellow;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  place-items: center;

  button {
    height: 3rem;
    width: 3rem;
  }

  .north {
    grid-row-start: 1;
    grid-column-start: 2;
  }

  .west {
    grid-row-start: 2;
    grid-column-start: 1;
  }

  .south {
    grid-row-start: 3;
    grid-column-start: 2;
  }

  .east {
    grid-row-start: 2;
    grid-column-start: 3;
  }
}

.abilities { // aka ManualActions
  
  button {
    background-image: none;
    background-color: $primary-aqua;
    height: 3rem;
    margin: .25rem;
  }

  .other:hover {
    cursor: default;
  }

  .ability {
    text-transform: uppercase;
  }
  

  .locked {
    opacity: 0.3;
    color: $primary-aqua;
    background-color: $secondary-gray;
    border: 1px solid $primary-aqua;
  }
  .locked:hover, .unavailable:hover {
    cursor: not-allowed;
  }
  .unavailable {
    background-color: $secondary-teal;
    opacity: 0.6;
  }
  .clickable {
    opacity: 1;
  }
  .available {
    background-color: $primary-aqua;
    box-shadow: none;
    border: none;
    opacity: 1;
  }
}
