.dpad {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  place-items: center;
  margin-bottom: 2rem;

  .north {
    grid-row-start: 1;
    grid-column-start: 2;
  }

  .west {
    grid-row-start: 2;
    grid-column-start: 1;
  }

  .south {
    grid-row-start: 3;
    grid-column-start: 2;
  }

  .east {
    grid-row-start: 2;
    grid-column-start: 3;
  }

  button {
    background-color: $cool-gray-lt;
    border-width: 5px;
    border-color: $warm-gray $almost-cyan;
    border-style: outset;
  }
  button:hover {
    cursor: pointer;
  }
}

.abilities {
  color: $almost-black;
  .ability {
    text-transform: uppercase;
  }

  .abilityGroup {
    padding: 1rem;
  }

  ul {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center stretch;
  }
  button {
    border-width: 3px;
    border-color: $warm-gray $pumpkin-pie;
    padding: 5px 8px;
    color: $latte;
    text-align: center;
    margin: 0.25rem;
    outline: none;
  }
  button:hover {
    cursor: pointer;
  }
  .locked {
    background-color: $cool-gray-dk;
    opacity: 0.3;
    color: $almost-cyan;
    border-color: $cool-gray-dk;
    border-style: ridge;
  }
  .unavailable {
    background-color: $brown;
    opacity: 0.6;
    border-style: none;
    border-color: $warm-gray;
  }
  .clickable {
    background-color: $brown;
    opacity: 1;
    border-style: outset;
  }
  .available {
    border-width: 0;
    background-color: $brown;
    border-style: 1px solid $warm-gray;
    opacity: 0.6;
  }
}

.nonManual {
  visibility: hidden;
}

// Maybe change this to make it a bit more DRY?
.dpad-container {
  display: flex;
  flex-direction: column;

  .special {
    border-width: 3px;
    border-color: $grass-green-dk;
    padding: 5px 8px;
    color: $almost-black;
    text-align: center;
    margin: 0.25rem;
    outline: none;
    cursor: pointer;
  }
  .ability {
    text-transform: uppercase;
  }
  .clickable {
    background-color: $warm-gray;
    opacity: 1;
    border-style: outset;
  }
}
