@import "/variables";

.map {
  display: flex;
  justify-content: center;
  border: 1px solid blue;
  width: 100%;
  height: 100%;
  align-items: center;
}

.room {
  border: 1px solid white;
  width: 2.5rem;
  height: 2.5rem;
  color: $purple;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.special {
  background: yellow;
}

.currentRoom {
  background: aqua;
}

.link {
  width: 0.5rem;
  height: 0.5rem;
  display: none;
}

.e,
.n,
.s,
.w {
  display: block;
  background: $purple;
  border: 1px solid white;
}
