@import "/variables";

.map {
  position: relative;
  height: 95em;

  .room {
    border: 1px solid white;
    width: 2.5rem;
    height: 2.5rem;
    color: $purple;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
  }

  .special {
    background: yellow;
  }

  .currentRoom {
    background: aqua;
  }

  .link {
    display: none;
    position: absolute;
  }

  .e,
  .n,
  .s,
  .w {
    display: block;
    background: $purple;
  }

  .n,
  .s {
    height: 0.65em;
    width: 1em;
  }

  .e,
  .w {
    width: 0.65em;
    height: 1em;
  }
}
