.mode {
  background-color: $secondary-gray;
  border-style: outset;
  border-width: 2px;
  border-color: $secondary-teal;
  font-family: $accent-font;
}

.modeContainer {
  display: flex;
  justify-content: space-around;
}

.modeBox {
  height: 18rem;
  color: $gray-lt;
  margin-top: 1rem;

  .modeReq {
    margin: 1rem 0;
  }

  .reqLabel {
    color: rgb(209, 26, 26);
  }

  input {
    width: 5rem;
  }

  .autoLimit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;

    .autoInput {
      display: flex;
      align-items: center;

      button,
      input {
        height: 3rem;
        margin: 0.25rem;
      }

      button {
        text-transform: uppercase;
        font-size: 1.5rem;
        border-width: 2px;
      }
    }

    .autoAction {
      outline: none;
      background-color: $primary-aqua;
      opacity: 1;
      border-color: $gray-lt $secondary-teal $secondary-teal;
      // border-style: outset;
      color: $primary-black;
    }
  }
}
