// the entire panel
.mode {
  font-family: $accent-font;
  min-height: 18rem;
  display: flex;
  flex-direction: column;
  
}

// holds the mode buttons
.modeButtonContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-bottom: 1.5rem;
  
}

.modeButton {
  padding: 1.3rem;
}

// 4 containers, 1 for each mode
.modeBox {
  display: flex;
  flex-direction: column; // the 3 auto modes flex column but manual flexes row

  
  .modeReq { // section appears in 3 auto modes - displays required powers
    margin: 1rem 0;
  }
  .reqLabel {
    color: $alert-red;
  }

  // section appears in 3 auto modes - where user selects how long script will run
  .autoLimit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;

    .autoInput {
      display: flex;
      align-items: center;
  }
}
}

.manual {
  flex-direction: row;
  border: 1px solid cyan;
}

.manualLeft { // so that special powers that pop up can be displayed under DPAD
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}
