// the entire panel
.mode {
  font-family: $accent-font;
  min-height: 18rem;
  display: flex;
  flex-direction: column;
}

// holds the mode buttons
.modeButtonContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-bottom: 1.5rem;
  align-items: stretch
}

.modeButton {
  padding: 1.3rem;
  flex-grow: 1;
}

// 4 containers, 1 for each mode
.modeBox {
  display: flex;
  flex-direction: column; // the 3 auto modes flex column but manual flexes row

  .modeReq {
    // section appears in 3 auto modes - displays required powers
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .reqLabel {
    color: $alert-red;
  }

  // section appears in 3 auto modes - where user selects how long script will run
  .autoLimit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;

    .autoInput {
      display: flex;
      align-items: center;
    }
    input {
      border: 1px solid $secondary-teal;
      border-radius: 0.5rem;
      background-color: $secondary-gray;
      width: 5rem;
      height: 2.5rem;
      margin-right: .5rem;
      color: $primary-aqua;
      padding-left: .4rem
    }

    input:focus{
      background-color: $tertiary-teal;
      outline: none;
    }
    button {
      height: 3rem;
    }
  }
}

.unqualified {
  margin-top: 1rem;
}

.manual {
  flex-direction: row;
  align-items: flex-start;
  height:100%;
  justify-content: space-around;
}

.manualLeft {
  // so that special powers that pop up can be displayed under DPAD
  display: flex;
  height: 100%;
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
