

.sidebar {
    width: 30vw;
    max-width: 500px;
    height: calc(100vh - 72px);
    background-color: $cool-gray-dk;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    > * {
        padding: 15px
    }
}

.roomInfo {
    ul {
        display: flex;
        flex-direction: row;
    }
    li {
        margin: 0 2px;
        padding: 0 2px;
        font-variant-caps: all-small-caps;
    }
    background-color: $warm-gray;
    color: $almost-black;
    border-style: outset;
    border-width: 3px;
    border-color: $grass-green-dk;
    margin: 2rem;

}
