@import url("https://fonts.googleapis.com/css?family=Audiowide|Jura&display=swap");

// colors

$fuchsia-dk: #452434;
$royal-dk: #30346d;
$almost-black: #140c1c;
$purple: #597dcf;
$almost-cyan: #6dc3cb;
$cool-gray-dk: #4d494d;
$cool-gray-lt: #8696a2;
$warm-gray: #757161;
$brown: #864d30;
$latte: #d3aa9a;
$pumpkin-pie: #d37d2c;
$grass-green-lt: #6daa2c;
$grass-green-dk: #346524;
$tomato: #d34549;
$mellow-yellow: #dbd75d;
$brightest: #dfefd7;

// experimental colors
$primary-aqua: #66fcf1;
$secondary-teal: #45a29e;
$gray-lt: #c5c6c7;
$primary-black: #0b0c10;
$secondary-gray: #1f2833;

$tertiary-teal: #194461;
$alert-red: rgb(209, 26, 26);

// fonts
$main-font: "Audiowide", cursive;
$accent-font: "Jura", sans-serif;

// media queries

$breakpoint-desktop-large: 2200px;
$breakpoint-desktop: 1600px;
$breakpoint-tablet-large: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 500px;
